@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white:#ffffff;
    --ink: #000000;
    --border-color:rgb(229, 231, 235);
    --greyish: #f0f2f3;
    --grey: rgb(229, 231, 235);
    --logo-blue:#02adee;
    --logo-pink: #ee008b;
    --logo-yellow: #fef200;
    --nav-red:#cb4154;
    --dark-red: #970015;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;
    overflow-x: hidden;
    min-height: 100vh;
}

/* General Reset */

/* Mobile Design (Default) */

.header{
    display: none;
}

header {
    background-color: transparent;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 999;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    background-color: transparent;
}

.logo a {
    text-decoration: none;
}

.nav-links {
    display: none;
    /* flex-direction: column; */
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.nav-links.active {
    transform: translateX(0);
}

.nav-links li {
    padding: 20px;
    border-bottom: 1px solid transparent;
}

.nav-links li:last-child {
    border-bottom: none;
}

.nav-links a {
    text-decoration: none;
    text-align: center;
    color: var(--ink);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger div {
    width: 28px;
    height: 4px;
    margin: 8px;
    background-color: #333;
}
.sidebar {
    position: fixed;
    top: 120px;
    right: 0;
    /* height: 300px; */
    width: 280px;
    background-color: var(--greyish);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.sidebar.active {
    transform: translateX(0); 

}

.sidebar-nav {
    list-style: none;
    padding: 20px 30px;
}

.sidebar-nav li {
    padding: 16px 0;
    border-bottom: 3px solid var(--white) ;
}
.sidebar-nav li a{
    text-decoration: none;
    text-align: center;
    color: var(--ink);
    font-size: 20px;
}
.sidebar-nav li a:hover{
    text-decoration: underline;
}
.dropdown-menu{
    left: 30px;
    padding: 10px 20px;
    background-color: var(--white);
}
.dropdown-menu li{
   padding: 16px 0;
   padding-left: 20px;
   border-bottom: 3px solid var(--greyish) ;
}
.dropdown-menu li a {
    text-decoration: none;
    text-align: center;
    color: var(--ink);
    font-size: 20px; 
}
#register-warranty{
    display:block;
}
#register-warranty a{
    text-decoration: none;
    color: var(--white);

}
#register-warranty a button{
    background-color: var(--nav-red);
    color: var(--white);
    font-size: 16px;
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--nav-red);
    cursor: pointer;
}
#register-warranty a button:hover{
    background-color: var(--dark-red);
}




/* Quote container styling */
.quote-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--ink);
    z-index: 5;
}

.quote-container h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-red);
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: -200px;
}


/* Swiper Slider Styling */
.swiper-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    object-position: center;
}

/* Buttons for Swiper */
.swiper-pagination{
    color: var(--ink);
    height: 24px;
}
.swiper-button-next, .swiper-button-prev {
    color: var(--ink);
}

.products-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
    row-gap: 16px;

}
.products-container h6{
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    color: var(--nav-red);
}   
.products-container h3{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    
}
.products-container h4{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    padding-left: 10px;
}
.products-container button{
    background-color: var(--nav-red);
    color: var(--white);
    font-weight: 300px;
    font-size: 10px;
    text-decoration: wavy;
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid var(--dark-red);
    padding: 6px 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.products-container button:hover{
    background-color: var(--dark-red);
}
.products-container button a{
    text-decoration: none;
    color: var(--white);
    font-weight: 300px;
    font-size: 10px;
}
.product-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}
.product-items ul{
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
}
.product-items ul li{
    list-style: none;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    row-gap: 16px;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--grey); /* Border color */
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Initial lifted effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */

}
.product-items ul li:hover {
    transform: translateY(-20px); /* Increase lift effect on hover */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Enhanced shadow when hovered */
}
.product-items img{
    height: 70%;
    width: 80%;
    transition: transform 0.2s ease-in-out; /* Adjust the transition duration and easing as needed */

}
.contact-us-container{
    width: 100%;
    background-image: url(./IMAGES/a9ee1999-ef58-4078-93d0-3e91277463f7.jpeg);
}
.contact-us-banner{
    width: 100%;
    background-color: var(--dark-red);
    background-position: center;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact-us-banner h3{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: var(--white);
}
.location-and-forms{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 20px;
    margin: auto;

}
.location h6{
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    color: var(--nav-red);
    margin-bottom: 8px;
    
} 
.location-card{
    width: 100%;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--greyish);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Initial lifted effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    padding: 20px 10px;
}
.location-card h4{
    font-size: 16px;
    font-weight: 600;
    color: var(--ink);
    text-align: left;
    margin-bottom: 8px;
}
.location-card p{
    font-size: 12px;
    font-weight: 400;
    color: var(--ink);
    text-align: left;
    margin-bottom: 20px;
}
.location-card .divider{
    width: 50%;
    color: var(--ink);
    padding: 40px auto;
    margin-bottom: 20px;
    
}
.contact-us-form{
    width: 100%;
}
.contact-us-form h6{
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    color: var(--nav-red);
    margin-bottom: 8px;
} 
.form-card{
    width: 100%;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Initial lifted effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
}
.form-card h4{
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-purple);
    text-align: left;
    margin-bottom: 8px;
}
.form-card{
    font-size: 12px;
    font-weight: 400;
    color: var(--ink);
    text-align: left;
    margin-bottom: 20px;
}
.form-card input{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 0.3px solid var(--ink);
    box-shadow: 1px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 8px 16px;
}
.form-card textarea{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 0.3px solid var(--ink);
    box-shadow: 1px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 8px 16px;
}
.input-name{
    display: flex;
    column-gap: 8px;
}
.names{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
#submit-btn{
    width: 40%;
    margin: auto;
    background-color: var(--dark-red);
    color: var(--white);
    padding: 8px 16px;
    font-size: 14px;
}
.form-card span{
    color: var(--nav-red);
}
.links-container{
    
    padding: 10px 20px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: var(ink);
    background-color: var(--greyish);
}

.footerlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
    
}
.footerlogo img{
    width: 80%;
    display: none;
}
.footerlogo p{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    font-style: italic;
    color: var(--ink);
    display: none;
}

.about{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
}
.about h3{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: var(--nav-red);
}
.about ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.about ul li{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    color: var(--ink);
}
.about span{
    font-style: italic;
    color: var(--lilac);
}
#socialmediaicons{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#socialmediaicons img{
    width: 18px;
    height: 18px;
}
.quicklinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    row-gap: 6px;
}
.quicklinks h3{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: var(--nav-red);
}
.quicklinks ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.quicklinks ul li{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    font-style: italic;
    color: var(--lilac);
}
.quicklinks a{
    text-decoration: none;
    color: inherit;
}
footer{
    padding: 10px 20px;
    background-color: var(--bg);
    box-shadow: 5px 2px 0px 0 rgba(0,0,0,0.25);
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
footer ul li{
    font-size: 10px;
    font-weight: 600;
    list-style: none;
    color: var(--ink);
}
footer a{
    text-decoration: none;
    color: inherit;
}

/* Tablet Design (min-width: 760px) */
/* Mobile-first approach */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




/* Media query for larger screens */
@media (min-width: 768px) {
    nav{
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .logo{
        width: 10%;
    }
    .logo img{
        width: 100px;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: static;
        background-color: transparent;
        height: auto;
        width: auto;
        transform: none;
    }

    .nav-links li {
        padding: 10px 8px;
    }
    .nav-links li a{
        font-size: 16px;
        text-align: center;
    }
    .nav-links li a:hover{
        background-color: var(--nav-red);
        padding: 8px 16px;
        color: var(--white);
    }
    .nav-links li:last-child{
        display:block;
    }
    .nav-links li:last-child a{
        text-decoration: none;
        color: var(--white);
    
    }
    .nav-links li:last-child a button{
        background-color: var(--nav-red);
        color: var(--white);
        font-size: 16px;
        padding: 6px 8px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid var(--nav-red);    
        cursor: pointer;
    }
    #register-warranty a button:hover{
        background-color: var(--dark-red);
    }
    .dropdown-menu{
        left: 10px;
        width: 200px;
        padding: 8px 10px;
    }
    .dropdown-menu li{
        padding: 6px 16px
    }
    .dropdown-menu li a:hover{
        background-color: var(--nav-red);
        padding: 8px 16px;
        color: var(--white);
        left: 0;
    }
    .dropdown-menu li:last-child{
        color: var(--ink);
    }

    .burger {
        display: none;
    }
       
    .quote-container h1{
        width: 80%;
        font-size: 36px;
    }
    .products-container{
        padding: 4px auto;
    }
    .products-container h6{
        font-size: 14px;
    }
    .products-container h3{
        font-size: 24px;
    }
    .products-containerh4{
        font-size: 28px;
    }
    .products-container h4{
        font-size: 20px;
        padding-left: 30px;
    }
    .products-container button{
        padding: 8px 18px;
        margin-left: 30px;
    }
    .products-container button a{
        font-size: 14px;
    }
    
    .product-items  ul{
        width: 90%;
        margin: auto;
    }
    .productlist1 {
        display: flex;
        flex-direction: row;
    }
    .productlist2 {
        display: flex;
        flex-direction: row;
    }
    
    .contact-us-container{
        display: flex;
        flex-direction: column;
        padding: 20px ;
        margin: auto;
    }
    .links-container{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        column-gap: 30px;
    }
    .footerlogo{
        width: 40%;
    }
    .footerlogo img{
        width:50%;
        height: 40%;
    }
    .about{
        width: 30%;
    }
    .quicklinks{
        width: 30%;
    }
    footer ul li{
        font-size: 12px;
        font-weight: 400;
    }   

}


/* Larger Screens (min-width: 1000px) */
@media (min-width: 1000px) {
    /* Display header */
    .header{
        display: flex;
        padding: 10px 20px;
        width: 100%;  
        z-index: 6;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    }
    .header ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .header ul li{
        font-size: 12px;
        list-style: none;
        color: var(--ink);
        text-align: center;
        cursor: pointer;
    }
    .header a{
        text-decoration: none;
        cursor: pointer;
    }
    .header img{
        height: 18px;
        width: 18px;
    }
    header{
        width: 100%;
        top: 40px;
    }
    nav{
        width: 95%;
        margin: 0px
    }
    .logo{
        width: 20%;
    }
    .logo a img{
        width: 180px;
    }
    .nav-links{
        width: 80%;
        justify-content: flex-end;
        column-gap: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-links li {
        padding: 10px;
    }
    .nav-links li a{
        font-size: 20px;
    }
    .nav-links li:last-child a button{
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .contact-icons{
        display: flex;
        column-gap: 10px;
        justify-content: flex-start;
        align-items: center;
    }
    .contact-icons li{
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
    }
    .social-media{
        display: flex;
        column-gap: 10px;
        justify-content: space-evenly;
        align-items: center;
    }
    .social-media li{
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
    }
    .social-media span{
        display: none;
    }


    .products-container{
        align-items: center;
        padding: 30px 20px;
    }
    .products-container h6{
        font-size: 20px;
    }
    .products-container h3{
        font-size: 32px;
    }
    .product-items ul{
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .product-items ul li{
        flex: 1 1 calc(33.333% - 10%);
        max-width: calc(3333.333% - 10%);
        box-sizing: border-box;
    }
    .product-items h4{
        font-size: 22px;
    }
    
    .contact-us-banner h3{
        font-size: 32px;
    }
    .location h6{
        font-size: 20px;
    }
    .location-card{
        padding: 30px 40px;
    }
    .location-card h4{
        font-size: 22px;
    }
    .location-card p{
        font-size: 16px;
    }
    .contact-us-form h6{
        font-size: 20px;
    }
    .form-card{
        padding: 30px 40px;
        font-size: 16px;
    }
    .form-card h4{
        font-size: 22px;
    }
    .form-card p{
        font-size: 16px;
    }
    #submit-btn{
        font-size: 18px;
        width: 30%;
    }
    .links-container{
        padding: 30px 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footerlogo img{
        display: block;
    }
    .about{
        justify-content: flex-start;
        margin: 0px;
    }
    .about h3{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .about ul li{
        font-size: 14px;
    }
    .quicklinks{
        justify-content: flex-start;
        margin: 0px;
    }
    .quicklinks h3{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .quicklinks ul li{
        font-size: 14px;
    }
    footer ul li{
        font-size: 14px;
        font-weight: 600;;
    }

}
@media (min-width: 1400px) {
    .header{
        padding: 20px;
    }
    .header ul li{
        font-size: 16px;
        font-weight: bold;
    }
    .header img{
        height: 20px;
        width: 20px;
    }
    .social-media{
        column-gap: 20px;
    }
    header{
        top: 80px;
    }
    nav{
        width: 90%;
        margin: auto;
    }
    .logo a img{
        width: 100%;
        height: 180px;
    }
    .nav-links{
        justify-content: center;
        column-gap: 30px;
    }
    .nav-links li{
        padding: 10px 16px;
    }
    .nav-links li a {
        font-size: 28px;
    }
    .nav-links li:last-child a button{
        margin-left: 10px;
        font-size: 22px;
        padding-left: 14px;
        padding-right: 14px;
    }
    .dropdown-menu{
        width: 260px;
        height: fit-content;
    }
    .location-and-forms{
        /* flex-direction: row; */
        justify-content: center;
        width: 70%;
        margin: auto;
        gap: 30%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .location-card{
        padding: 12px 60px ;
        margin-bottom: 30px;
        width: 100%;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Initial lifted effect */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    
    }
    .location-card:hover {
        transform: translateY(-20px); /* Increase lift effect on hover */
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Enhanced shadow when hovered */
    }
    
    .location-card p{
        margin-bottom: 48px;
        
    }
    .form-card{
        width: 100%;
        padding: 30px 60px ;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Initial lifted effect */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    
    }
    .form-card:hover {
        transform: translateY(-20px); /* Increase lift effect on hover */
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Enhanced shadow when hovered */
    }
    
   
    
    .about{
        margin-top: 20px;
    }
    .about h3{
        font-size: 18px;
    }
    .about ul li{
        font-size: 16px;
    }
    .quicklinks{
        margin-top: 20px;
    }
    .quicklinks h3{
        font-size: 18px;
    }
    .quicklinks ul li{
        font-size: 16px;
    }

}

