@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --white:#ffffff;
    --ink: #000000;
    --border-color:rgb(229, 231, 235);
    --greyish: #f0f2f3;
    --grey: rgb(229, 231, 235);
    --logo-blue:#02adee;
    --logo-pink: #ee008b;
    --logo-yellow: #fef200;
    --nav-red:#cb4154;
    --dark-red: #970015;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;
    overflow-x: hidden;
    min-height: 100vh;
}
header{
    position: relative;
}
nav{
    position: relative;
}
.where-to-buy-container {
    padding: 30px 20px;
    width: 100%;
    position: relative;
    top: 140px;
    bottom: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.where-to-buy-container h2{
    color: var(--ink);
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
}
.where-to-buy-container p{
    color: var(--purple);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
    background-color: transparent;
}
  
.town-list {
    list-style: none;
    padding: 20px;
    background-color: var(--lilac);
    width: 80%;
    margin: auto;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid var(--lilac);
}
        
.town-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.town-list li span {
    display: inline-block;
    width: 50%; /* Adjust width as needed */
}
 


.shop-list li {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}
.shop-list {
    display: none;
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .shop-list.expanded {
    display: flex;
    flex-direction: column;
  }
/* Responsive Design for Larger Screens */
/* TABLET DESIGN*/
@media only screen and (min-width: 768px) {
    .town-list{
        width: 30%;
    }
    .where-to-buy-container p{
        width: 80%;
        margin: auto;
    }
}